Repository widelands/wl_addons_server, pull requests merged in 2022-02, with the labels that each got.

#126 added function for moving add-ons
  wl/server/HandleCommand.java
  wl/server/ServerUtils.java
Labels: bug, server

#128 Update Add-On Notice Types Info
  README.md
  wl/server/HandleCommand.java
  wl/server/ServerUtils.java
  wl/server/TransifexIntegration.java
  wl/utils/Utils.java
Labels: maintenance, server

#129 Advertise Server Display Name to Client
  README.md
  wl/server/ClientThread.java
  wl/server/Command.java
Labels: enhancement, server

#132 Allow only PNG and JPG screenshots
  wl/server/HandleCommand.java
Labels: security, server

#130 Fix Long Descriptions in Screenshot Upload
  wl/server/HandleCommand.java
Labels: bug, server

#127 Make Add-On Uploads More Efficient
  wl/server/Command.java
  wl/server/HandleCommand.java
Labels: enhancement, server
